.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.card {
  background: #222A3EE5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 450px;
  width: 100%;
  height: auto;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 15px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: #fff;
}

.button {
  width: auto;
  padding: 10px;
  background-color: #FFDB00;
  color: black;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.message {
  padding: 20px;
}